.u-block-1465-2 {
  position: absolute;
  bottom: 10rem;
}

.u-block-1465-3 {
  position: absolute;
  left: calc(((100% - 1140rem) / 2)  + -42rem);
  width: 65rem;
  height: 65rem;
  top: 293rem;
  right: auto;
  padding: 7rem;
}

.u-block-1465-4 {
  position: absolute;
  width: 65rem;
  height: 65rem;
  left: auto;
  right: calc(((100% - 1140rem) / 2)  + -34rem);
  padding: 7rem;
}

@media (max-width: 1199rem) {
  .u-block-1465-3 {
    left: calc(((100% - 940rem) / 2)  + -35rem);
  }

  .u-block-1465-4 {
    right: calc(((100% - 940rem) / 2)  + -28rem);
  }
}

@media (max-width: 991rem) {
  .u-block-1465-3 {
    left: calc(((100% - 720rem) / 2)  + -27rem);
  }

  .u-block-1465-4 {
    right: calc(((100% - 720rem) / 2)  + -21rem);
  }
}

@media (max-width: 767rem) {
  .u-block-1465-3 {
    left: calc(((100% - 540rem) / 2)  + -20rem);
  }

  .u-block-1465-4 {
    right: calc(((100% - 540rem) / 2)  + -16rem);
  }
}

@media (max-width: 575rem) {
  .u-block-1465-3 {
    left: calc(((100% - 340rem) / 2)  + -13rem);
  }

  .u-block-1465-4 {
    right: calc(((100% - 340rem) / 2)  + -10rem);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/map.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 711rem;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  text-shadow: 2rem 2rem 8rem rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 52rem 416rem 0 -46rem;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 394rem auto 58rem;
  padding: 10rem 57rem 10rem 55rem;
}

@media (max-width: 1199rem) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 774rem;
  }

  .u-section-1-1 .u-text-1 {
    width: 770rem;
    margin-right: 316rem;
  }
}

@media (max-width: 991rem) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 693rem;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720rem;
    margin-right: 206rem;
  }
}

@media (max-width: 767rem) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 621rem;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    width: 540rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575rem) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 590rem;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/636833993750036449fiberfoods2.jpg");
  background-position: 50% 50%;
  min-height: 711rem;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200rem;
  --animation-custom_in-translate_y: 0rem;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 56rem auto 60rem 0;
}

@media (max-width: 1199rem) {
   .u-section-1-2 {
    min-height: 454rem;
  }
}

@media (max-width: 991rem) {
   .u-section-1-2 {
    min-height: 449rem;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: calc(((100% - 1140rem) / 2) + 189rem);
  }
}

@media (max-width: 767rem) {
   .u-section-1-2 {
    min-height: 337rem;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 1140rem) / 2) + 268rem);
  }
}

@media (max-width: 575rem) {
   .u-section-1-2 {
    min-height: 350rem;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: calc(((100% - 1140rem) / 2) + 373rem);
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ban-bg1.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 711rem;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200rem;
  --animation-custom_in-translate_y: 0rem;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52rem auto 60rem -40rem;
}

@media (max-width: 1199rem) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 586rem;
  }
}

@media (max-width: 991rem) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 449rem;
  }
}

@media (max-width: 767rem) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 337rem;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575rem) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 212rem;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/consulting11.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 711rem;
}

.u-section-1-4 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200rem;
  --animation-custom_in-translate_y: 0rem;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52rem 0 60rem -36rem;
}

@media (max-width: 1199rem) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 586rem;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991rem) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 449rem;
  }
}

@media (max-width: 767rem) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 337rem;
  }
}

@media (max-width: 575rem) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 212rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, #232b79);
}

.u-section-2 .u-sheet-1 {
  min-height: 699rem;
}

.u-section-2 .u-text-1 {
  text-align: center;
  font-weight: 700;
  margin: 70rem auto 0;
}

.u-section-2 .u-group-1 {
  width: 1073rem;
  min-height: 317rem;
  box-shadow: -2rem 2rem 8rem 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 300rem;
  --animation-custom_in-translate_y: 0rem;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 106rem auto 60rem;
}

.u-section-2 .u-container-layout-1 {
  padding: 7rem 30rem 25rem;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0rem;
  margin: 34rem 0 0;
}

@media (max-width: 1199rem) {
  .u-section-2 .u-group-1 {
    width: 940rem;
  }
}

@media (max-width: 991rem) {
  .u-section-2 .u-text-1 {
    margin-top: 60rem;
    margin-left: 49rem;
    margin-right: 49rem;
  }

  .u-section-2 .u-group-1 {
    width: 720rem;
    margin-top: 374rem;
  }
}

@media (max-width: 767rem) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540rem;
    margin-top: 482rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 575rem) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 142rem;
  }

  .u-section-2 .u-group-1 {
    width: 340rem;
    margin-top: 480rem;
  }
} .u-section-3 {
  background-image: linear-gradient(#232b79, #858e99);
}

.u-section-3 .u-sheet-1 {
  min-height: 1405rem;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 86rem auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 300rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0rem;
  font-size: 2.25rem;
  margin: 49rem 0 0;
}

.u-section-3 .u-group-1 {
  width: 1128rem;
  min-height: 641rem;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 176rem auto 60rem;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1092rem;
  margin: 41rem auto -7rem 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5rem) calc(50% - 15.5rem);
  min-height: 607rem;
  grid-gap: 31rem 31rem;
}

.u-section-3 .u-image-1 {
  background-image: url("images/fortifiedfoodproducts.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 10rem 30rem;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1rem;
  background-image: none;
  margin: 210rem auto 0;
  padding: 16rem 85rem 16rem 84rem;
}

.u-section-3 .u-image-2 {
  background-image: url("images/business-consultancy-services.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 10rem 30rem;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1rem;
  background-image: none;
  margin: 210rem auto 0;
  padding: 16rem 85rem 16rem 84rem;
}

.u-section-3 .u-image-3 {
  background-image: url("images/liasoning.jpg");
}

.u-section-3 .u-container-layout-4 {
  padding: 10rem 30rem;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1rem;
  background-image: none;
  margin: 210rem auto 0;
  padding: 16rem 85rem 16rem 84rem;
}

.u-section-3 .u-image-4 {
  background-image: url("images/istockphoto-1051616786-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 10rem 30rem;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1rem;
  background-image: none;
  margin: 210rem auto 0;
  padding: 16rem 85rem 16rem 84rem;
}

@media (max-width: 1199rem) {
  .u-section-3 .u-group-1 {
    background-position: 50% 50%;
    width: 940rem;
    --animation-custom_in-translate_x: 0rem;
    --animation-custom_in-translate_y: 0rem;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-list-1 {
    width: 940rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5rem));
    min-height: 399rem;
    grid-gap: 33rem;
  }
}

@media (max-width: 991rem) {
  .u-section-3 .u-group-1 {
    width: 720rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 45rem;
  }

  .u-section-3 .u-list-1 {
    width: 720rem;
  }
}

@media (max-width: 767rem) {
  .u-section-3 .u-group-1 {
    width: 540rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-list-1 {
    width: 540rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media (max-width: 575rem) {
  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-1 {
    width: 340rem;
  }

  .u-section-3 .u-list-1 {
    width: 340rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 844rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 767rem;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70rem;
  margin-bottom: 60rem;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 543rem;
}

.u-section-4 .u-container-layout-1 {
  padding: 30rem 0;
}

.u-section-4 .u-text-1 {
  margin: 46rem 60rem 0;
}

.u-section-4 .u-text-2 {
  margin: 0 60rem;
}

.u-section-4 .u-icon-1 {
  width: 40rem;
  height: 40rem;
  margin: -75rem auto 0 20rem;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 35rem 280rem 0 60rem;
}

.u-section-4 .u-icon-2 {
  width: 44rem;
  height: 44rem;
  margin: 3rem auto 0 172rem;
  padding: 4rem;
}

.u-section-4 .u-text-4 {
  margin: -34rem auto 0 60rem;
}

.u-section-4 .u-text-5 {
  margin: 6rem 60rem 0;
}

.u-section-4 .u-text-6 {
  margin: -1rem 60rem 0;
}

.u-section-4 .u-icon-3 {
  width: 41rem;
  height: 41rem;
  margin: -103rem auto 0 19rem;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 500rem;
}

.u-section-4 .u-container-layout-2 {
  padding: 20rem;
}

@media (max-width: 1199rem) {
  .u-section-4 .u-sheet-1 {
    min-height: 672rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 448rem;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 230rem;
    margin-left: 10rem;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(16, 129, 224) !important;
    margin-left: 142rem;
  }

  .u-section-4 .u-text-4 {
    margin-left: 10rem;
  }

  .u-section-4 .u-text-5 {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .u-section-4 .u-text-6 {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (max-width: 991rem) {
  .u-section-4 .u-sheet-1 {
    min-height: 540rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100rem;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 130rem;
    margin-left: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 109rem;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30rem;
    padding-right: 30rem;
  }
}

@media (max-width: 767rem) {
  .u-section-4 .u-sheet-1 {
    min-height: 798rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 575rem) {
  .u-section-4 .u-sheet-1 {
    min-height: 622rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}
